{% extends 'base.html.twig' %}

{% block title %}Task Manager{% endblock %}

{% block stylesheets %}
<link rel="stylesheet" href="{{ asset('css/styles.css') }}">
<script type="text/javascript" src="{{ asset('js/updateStatus.js') }}"></script>
<script type="text/javascript" src="{{ asset('js/lstTasks.js') }}"></script>
<script type="text/javascript" src="{{ asset('js/creatTask.js') }}"></script>
<script type="text/javascript" src="{{ asset('js/deleteTask.js') }}"></script>

{% endblock %}

{% block body %}
<h1>Liste des tâches</h1>

<div>

    <table class="styled-table">
        <caption>Tasks</caption>
        <thead>
            <tr>
                <th>ID</th>
                <th>Titre</th>
                <th>Status</th>
                <th>Description</th>
                <th>Begin At</th>
                <th>Treat At</th>
                <th>Delete</th>
                <th>Update</th>
            </tr>
        </thead>
        <tbody id="tasks-body">
        </tbody>
        <tfoot>
            <tr id="add">
                <td colspan="2">
                    <input type="text" id="title" name="title" placeholder="Titre" required>
                </td>
                <td>
                    <select name="status" id="status">
                        <option value="en cours">En cours</option>
                        <option value="terminée">Terminée</option>
                        <option value="en retard">En retard</option>
                    </select>
                </td>
                <td>
                    <textarea name="description" id="description" placeholder="Description" required></textarea>
                </td>
                <td colspan="4">
                    <button class="btn-add" onclick="creatTask()">Ajouter</button>
                </td>
            </tr>
        </tfoot>
    </table>






</div>

<div id="result"></div>


{% endblock %}
