{% extends 'base.html.twig' %}

{% block title %}Index Task{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/styles.css') }}">
{% endblock %}

{% block body %}

<div>
    <table class="styled-table">
        <caption>Tasks</caption>
        <thead>
            <tr>
                <th>ID</th>
                <th>Titre</th>
                <th>Status</th>
                <th>Begin At</th>
                <th>Treat At</th>
                <th>View</th>
                <th>Delete</th>
                <th>Update</th>
                
            </tr>
        </thead>
        <tbody>
            {% for task in tasks %}
                <tr>
                    <td>{{ task.getId()}}</td>
                    <td>{{ task.getTitle()}}</td>
                    <td>{{ task.getStatus()}}</td>
                    <td>{{ task.getCreatedAt().format('d/m/Y H:i')}}</td>
                    <td>{{ task.getUpdatedAt().format('d/m/Y H:i')}}</td>
                    <td>View</td>
                    <td>Delete</td>
                    <td>Update</td>
                </tr>
            {% endfor %}
            
            <tr id="add">
                <td colspan="12">{{ form(form) }}</td>
            </tr>

        </tbody>

        <tfoot>
            <tr>
                <td colspan="6">
                    <button class="btn-add">Ajouter</button>
                </td>
            </tr>
        </tfoot>
    </table>

</div>


{% endblock %}
