{% extends 'base.html.twig' %}

{% block title %}Update Task{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/styles.css') }}">
    <link rel="stylesheet" href="{{ asset('css/lien.css') }}">
    <script type="text/javascript" src="{{ asset('js/updateTask.js') }}"></script>
{% endblock %}

{% block body %}


<a href="{{ path('app_task') }}" class="previous">&laquo; Liste des Tâches</a>

    {{ form_start(form, {
            'method': 'PUT',
            'attr': {'onsubmit': 'event.preventDefault();'}
        })
    }}

    <table class="styled-table">
        <caption>Tasks : {{ task.getTitle()}}</caption>
        <thead>
            <tr>
                <th>ID</th>
                <th>Titre</th>
                <th>Status</th>
                <th>Description</th>
                <th>Begin At</th>
                <th>Treat At</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    {{ task.getId()}}
                </td>
                <td>
                    {{ form_row(form.title) }}
                </td>
                <td>
                    {{ form_row(form.status) }}
                </td>
                <td>
                    {{ form_row(form.description) }}
                </td>    
                <td>
                    {{ task.getCreatedAt().format('d/m/Y  H:i:s') }}
                </td>
                <td id='Updated_At'>
                    {{ task.getUpdatedAt().format('d/m/Y  H:i:s') }}
                </td>
            </tr>
        </tbody>
    </table>

    <div >
        {{ 
            form_row(form.Ajouter, {'label': 'Modifier',
                'attr': {
                    'class': 'btn-add',
                    'onclick': 'updateTask(' ~ task.id ~ ')'
                }
            })
        }}
    </div>
    {{ form_end(form) }}

    <div id="result"></div>





    {% endblock %}
