{% extends 'base.html.twig' %}

{% block title %}Update Task{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/styles.css') }}">
    <link rel="stylesheet" href="{{ asset('css/lien.css') }}">
{% endblock %}

{% block body %}


<a href="{{ path('app_task') }}" class="previous">&laquo; Liste des Tâches</a>

<table class="styled-table">
        <caption>Tasks : {{ task.getTitle()}}</caption>
        <thead>
            <tr>
                <th>ID</th>
                <th>Titre</th>
                <th>Status</th>
                <th>Description</th>
                <th>Begin At</th>
                <th>Treat At</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    {{ task.getId()}}
                </td>
                {{ form_start(form) }}

                    <td>
                        {{ form_row(form.title) }}
                    </td>
                    <td>
                        {{ form_row(form.status) }}
                    </td>
                    <td>
                        {{ form_row(form.description) }}
                    </td>
                
                    <td>{{ task.getCreatedAt().format('d/m/Y  H:i:s') }}</td>

                    <td>{{ task.getUpdatedAt().format('d/m/Y  H:i:s') }}</td>
                </tr>
            </tbody>
        </table>

        <div >
            {{ form_row(form.Ajouter, {'label': 'Modifier', 'attr': {'class': 'btn-add'}}) }}
        </div>
        {{ form_end(form) }}


       {% if oldTaskData is defined and oldTaskData is not null %}
            <table class="styled-table">
                <caption>Bilan des modifications</caption>
                <thead>
                    <tr>
                        <th>Version</th>
                        <th>Titre</th>
                        <th>Status</th>
                        <th>Description</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Ancienne version</td>
                        <td>{{ oldTaskData.title }}</td>
                        <td>{{ oldTaskData.status }}</td>
                        <td><p>{{ oldTaskData.description }}</p></td>
                    </tr>
                    <tr>
                        <td>Nouvelle version</td>
                        <td>{{ task.getTitle() }}</td>
                        <td>{{ task.getStatus().value }}</td>
                        <td>
                            <p>{{ task.getDescription() }}</p>
                        </td>
                    </tr>
                </tbody>
            </table>
        {% endif %}




{% endblock %}
